//  Breakpoints
$screen-huge: "(max-width: 1440px)";
$screen-large: "(max-width: 960px)";

// Fonts
$font-path: "@/assets/fonts/";
$font-family: "PT Root UI";

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-color-main: #0b1739;
$font-color-gray: #788690;

// Colors
$color-white: #fff;
$color-ming-green: #3eb57c;

$border-color-gray: #e6e6e6;
$box-shadow-button: 0px 6px 20px 0px #cadacd;
